.skills {
    display: flex;
    justify-content: center;
    .skillHolder {
        margin-top: 15%;
        height: 40vh;
        width: 70vw;
        background-color: rgba(118, 127, 134, .7);
        display: flex;
    }
}