.home {
    min-height: 100vh;
    margin-top: -5em;
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-content: center;
    color: aliceblue;
    .name {
        background-color: rgba(118, 127, 134, .7);
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    h1 {
        font-size: 5em;
        border-top: 3px solid aliceblue;
        width: 54vw;
        padding-top: 15px;
    }
    h2 {
        font-size: 4em;
        width: 54vw;
        border-bottom: 3px solid aliceblue;
        padding: 15px;
    }
}