.nav{
    position: relative;
    top: 3em;
    display: flex;
    justify-content: space-around;
    background-color: rgba(118, 127, 134, .7);
    padding: 10px;
    color: aliceblue;
    .bs {
        margin-left: -6em;
        h3 {
            border-radius: 50%;
            border: 2px solid aliceblue;
            padding: 10px;
            font-size: 1.75em;
            letter-spacing: 0px;
        }
    }
    .routes {
        width: 35vw;
        display: flex;
        justify-content: space-between;
        margin-top: .75em;
        margin-right: -10em;
        a {
            height: 3px;
            text-decoration: none;
            color: aliceblue;
            &:hover {
                color: #EEDD8D;
            }
        }
        p {
            font-size: 2em;
        }
        h3 {
            position: relative;
            top: 5px;
        }
    }
}

@media(max-width: 1024px) {
    .nav {
        .bs {
            margin-left: -8em;
            h3 {
                // font-size: 2em;
            }
        }
        .routes {
            p {
                margin-top: -.15em;
                // font-size: 2em;
            }
            h3 {
                // font-size: 1.2em;
            }
        }
    }

}

@media(max-width: 768px) {
    .nav {
        .bs {
            margin-left: -6em;
        }
        .routes {
            margin-right: 5em;
            p{
                margin-top: -.15em;
            }
            h3 {
                margin-right: .7em;
                margin-left: .7em;
            }
        }
    }
}

@media(max-width: 715px) {
    .nav {
        .bs {
            font-size: .8em;
        }
        .routes {
            margin-right: 2em;
            p {
                font-size: 1.5em;
                margin-top: -2px;
            }
            h3 {
                font-size: .9em;
            }
        }
    }
}

@media(max-width: 588px) {
    .nav {
        .bs {
            font-size: .6em;
            border: 1px;
        }
        .routes {
            margin-right: 4em;
            p {
                font-size: 1.25em;
            }
            h3 {
                font-size: .78em;
            }
        }
    }
}

@media(max-width: 460px) {
    .nav {
        .routes {
            margin-right: 5.5em;
        }
    }
}

@media(max-width: 414px) {
    .nav {
        .bs {
            font-size: .5em;
            border: 1px;
            margin-left: -3em;
            h3 {
                font-size: 2em;
                padding: 5px;
            }
        }
        .routes {
            margin-right: 4.5em;
            margin-left: -2em;
            margin-top: 3px;
            h3 {
                font-size: .78em;
                margin-left: 5px;
                margin-right: 5px;
            }
            p {
                font-size: 1.28em;
                margin-top: 0em;
            }
        }
    }
}

@media(max-width: 375px) {
    .nav {
        .routes {
            margin-right: 5em;
            margin-left: -3em;
            h3 {
                font-size: .75em;
                margin-left: 5px;
                margin-right: 5px;
            }
            p {
                font-size: 1.25em;
                margin-top: .0em;
            }
        }
    }
}

@media(max-width: 320px) {
    .nav {
        .bs {
            margin-left: -50px; 
            font-size: .4em;
            h3 {
                font-size: 2em;
                margin: 0px;
            }
        }
        .routes {
            margin-right: 50px;
            h3{
                font-size: .6em;
            }
            p {
                font-size: 1.1em;
            }
        }
    }
}